langchain
langchain-core
langchain-community

langchain-openai
langchain-google-genai
langchain-mistralai
langchain-anthropic
langchain-groq

langgraph

transformers
huggingface-hub
accelerate
sentence-transformers

faiss-cpu

duckduckgo-search
wikipedia
arxiv

python-dotenv
pydantic
tqdm
numpy
pandas

fastapi
uvicorn
streamlit

tiktoken
requests
aiohttp

